#gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  padding: 0 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
